@{
    ViewData["Title"] = "Home Page";
}
<!--Main Starting Container-->
<div class="container">
    <div class="row">
        <!--Heading Title-->
        <div class="col-12">
            <p><h3 class="text-center">Car Store Products</h3></p>
        </div>
        <hr />
        <!--Menu Links For Tabs-->
    </div>
</div>